@mixin default-grid{
  
@if $include-html-grid-name-classes != false {
    /* Grid HTML Classes */
  .#{$row}{
    @include grid-row($behavior: false);
    
    &.collapse {
      .#{$cell},
      .#{$cells} { @include grid-column($collapse:true); }
    }
    &:before,&:after {
      display: table;
      line-height: 0;
      content: "";
    }
    .#{$row}  { @include grid-row($behavior:nest);
      &.collapse { @include grid-row($behavior:nest-collapse); }
    }
  }

  .#{$cell},
  .#{$cells} { @include grid-column($columns:$total-columns); }


  @media #{$small} {

    @for $i from 1 through $total-columns {
      .#{$small-grid-name}#{-$i} { @include grid-column($columns:$i,$collapse:null,$float:false); }
    }

    @for $i from 0 through $total-columns - 2 {
      .#{$small-grid-name}-offset-#{$i} { @include grid-column($offset:$i, $collapse:null,$float:false); }
    }

    @for $i from 1 through $total-columns - 1 {
      .#{$small-grid-name}-push#{-$i} { @include grid-column($push:$i, $collapse:null, $float:false); }
      .#{$small-grid-name}-pull#{-$i} { @include grid-column($pull:$i, $collapse:null, $float:false); }
    }

    [class*="#{$cell}"] + [class*="#{$cell}"]:last-child { float: $opposite-direction; }
    [class*="#{$cell}"] + [class*="#{$cell}"].end { float: $default-float; }

    .#{$cell}.#{$small-grid-name}-centered,
    .#{$cells}.#{$small-grid-name}-centered { @include grid-column($center:true, $collapse:null, $float:false); }
  }



  /* Styles for screens that are atleast 768px; */
  @media #{$medium} {

    @for $i from 1 through $total-columns {
      .#{$medium-grid-name}#{-$i} { @include grid-column($columns:$i,$collapse:null,$float:false); }
    }

    @for $i from 0 through $total-columns - 1 {
      .#{$row}  .#{$medium-grid-name}-offset-#{$i} { @include grid-column($offset:$i, $collapse:null,$float:false); }
    }

    @for $i from 1 through $total-columns - 1 {
      .#{$medium-grid-name}-push#{-$i} { @include grid-column($push:$i, $collapse:null, $float:false); }
      .#{$medium-grid-name}-pull#{-$i} { @include grid-column($pull:$i, $collapse:null, $float:false); }
    }

    .#{$cell}.#{$medium-grid-name}-centered,
    .#{$cells}.#{$medium-grid-name}-centered { @include grid-column($center:true, $collapse:null, $float:false); }

    .#{$cell}.#{$medium-grid-name}-uncentered,
    .#{$cells}.#{$medium-grid-name}-uncentered {
      margin-#{$default-float}: 0;
      margin-#{$opposite-direction}: 0;
      float: $default-float !important;
    }

    .#{$cell}.#{$large-grid-name}-uncentered.opposite,
    .#{$cells}.#{$large-grid-name}-uncentered.opposite {
      float: $opposite-direction !important;
    }
  }

  @media #{$large} {

    @for $i from 1 through $total-columns {
      .#{$large-grid-name}#{-$i} { @include grid-column($columns:$i,$collapse:null,$float:false); }
    }

    @for $i from 0 through $total-columns - 1 {
      .#{$row}  .#{$large-grid-name}-offset-#{$i} { @include grid-column($offset:$i, $collapse:null,$float:false); }
    }

    @for $i from 1 through $total-columns - 1 {
      .#{$large-grid-name}-push#{-$i} { @include grid-column($push:$i, $collapse:null, $float:false); }
      .#{$large-grid-name}-pull#{-$i} { @include grid-column($pull:$i, $collapse:null, $float:false); }
    }

    .#{$cell}.#{$large-grid-name}-centered,
    .#{$cells}.#{$large-grid-name}-centered { @include grid-column($center:true, $collapse:null, $float:false); }

    .#{$cell}.#{$large-grid-name}-uncentered,
    .#{$cells}.#{$large-grid-name}-uncentered {
      margin-#{$default-float}: 0;
      margin-#{$opposite-direction}: 0;
      float: $default-float !important;
    }

    .#{$cell}.#{$large-grid-name}-uncentered.opposite,
    .#{$cells}.#{$large-grid-name}-uncentered.opposite {
      float: $opposite-direction !important;
    }
  }


}
}