//
//--------------------------------------Components-------------------------------------//
//

$grid:true;
$blockgrid:true;
$gridhide:true;

$typography: true;
$normalize: true;
$typeplate: true;
$web-type: true;

$color : true;
$palette : true;
$text-color: true;