//
//--------------------------------------Components-------------------------------------//
//

$grid:true;
$blockgrid:true;
$gridhide:true;

$typography: true;
$normalize: true;
$normalizeAsDoc: false;
$typeplate: false;
$typeplateAsDoc : false;
$webType: false;
$webTypeAsDoc: false;

$color : true;
$palette : true;
$text-color: true;