@mixin text-color{
    .black{
        color:$black;
    }
    .white{
        color:$white;
    }
    .blue{
        color:$blue;
    }
    .red{
        color:$red;
    }
    .primary{
        color:$primary;
    }
    .secondary{
        color:$secondary;
    }
    .success{
        color:$success;
    }
    .error{
        color:$error;
    }
    .warning{
        color:$warning;
    }
    .info{
        color:$info;
    }
}