$grey:darken($white,50%);
$grey1:darken($white,15%);
$grey2:darken($white,25%);
$grey3:darken($white,35%);
$grey4:darken($white,45%);
$grey5:darken($white,55%);
$grey6:darken($white,65%);
$grey7:darken($white,75%);
$grey8:darken($white,85%);
$grey9:darken($white,95%);


$primary-light1:lighten($primary,15%);
$primary-light2:lighten($primary,25%);
$primary-light3:lighten($primary,35%);
$primary-light4:lighten($primary,45%);
$primary-dark1:lighten($primary,15%);
$primary-dark2:lighten($primary,25%);
$primary-dark3:lighten($primary,35%);
$primary-dark4:lighten($primary,45%);

$secondary-light1:lighten($secondary,15%);
$secondary-light2:lighten($secondary,25%);
$secondary-light3:lighten($secondary,35%);
$secondary-light4:lighten($secondary,45%);
$secondary-dark1:lighten($secondary,15%);
$secondary-dark2:lighten($secondary,25%);
$secondary-dark3:lighten($secondary,35%);
$secondary-dark4:lighten($secondary,45%);


$success-light1:lighten($success,15%);
$success-light2:lighten($success,25%);
$success-light3:lighten($success,35%);
$success-light4:lighten($success,45%);
$success-dark1:lighten($success,15%);
$success-dark2:lighten($success,25%);
$success-dark3:lighten($success,35%);
$success-dark4:lighten($success,45%);


$error-light1:lighten($error,15%);
$error-light2:lighten($error,25%);
$error-light3:lighten($error,35%);
$error-light4:lighten($error,45%);
$error-dark1:lighten($error,15%);
$error-dark2:lighten($error,25%);
$error-dark3:lighten($error,35%);
$error-dark4:lighten($error,45%);


$warning-light1:lighten($warning,15%);
$warning-light2:lighten($warning,25%);
$warning-light3:lighten($warning,35%);
$warning-light4:lighten($warning,45%);
$warning-dark1:lighten($warning,15%);
$warning-dark2:lighten($warning,25%);
$warning-dark3:lighten($warning,35%);
$warning-dark4:lighten($warning,45%);

$info-light1:lighten($info,15%);
$info-light2:lighten($info,25%);
$info-light3:lighten($info,35%);
$info-light4:lighten($info,45%);
$info-dark1:lighten($info,15%);
$info-dark2:lighten($info,25%);
$info-dark3:lighten($info,35%);
$info-dark4:lighten($info,45%);


$blue-light1:lighten($blue,15%);
$blue-light2:lighten($blue,25%);
$blue-light3:lighten($blue,35%);
$blue-light4:lighten($blue,45%);
$blue-dark1:lighten($blue,15%);
$blue-dark2:lighten($blue,25%);
$blue-dark3:lighten($blue,35%);
$blue-dark4:lighten($blue,45%);


$red-light1:lighten($red,15%);
$red-light2:lighten($red,25%);
$red-light3:lighten($red,35%);
$red-light4:lighten($red,45%);
$red-dark1:lighten($red,15%);
$red-dark2:lighten($red,25%);
$red-dark3:lighten($red,35%);
$red-dark4:lighten($red,45%);